<html>
	<head>
		<title>
			Notes
		</title>
	</head>

	
	<body style="background-color: #C0C0C0">
		<br><br>

		<form action='/submit' method="POST">

			<textarea id='title' name='title' style="margin-left:30% ">		
			</textarea>

			<br>

			<textarea rows='30' cols='70' id='notes' name="notes" style="margin-left:30%">		
			</textarea>

			<br>

			<input type="submit" value='Save' name="submit" id='submit' style="margin-left:50%">
		</form>

	<script type="text/javascript">
		document.getElementById('notes').innerHTML='Notes.....'
		document.getElementById('title').innerHTML='Title'
	</script>
	
	</body>
</html>